.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
  border: 0px solid red;
  align-items: center;
}

.buttonRemove {
  display: flex;
  max-height: fit-content;
}

.buttonRemove button {
  max-height: 20px;
  margin-top: 22px;
  margin-left: 15px;
}

.buttonRemove button:hover {
  color:red;
}

.donttouch {
  border: 1px grey solid;
  padding-right:20px;
  margin-left: 10px;
}

ul.todos {
  padding: 0;
  list-style-type: none;
  min-height: 200px;
}

li.todos{
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
  cursor: pointer;
  min-width: 250px;
}

li:hover span.cross:after {
  content: '\02A2F';   
  color: red;
  font-size: 18px;
  float: right;
  margin-right: 5px;
   /* https://unicode-table.com/it/sets/top-emoji/ */
}

span.completed::after {
  content: '\02713';
  font-size: 28px;
  padding: 4px;
  color:green;
}

li.completed {
  text-decoration: line-through;
  color:red;
}

span.uncompleted::after {
  content: '\025A1';
  font-size: 28px;
  padding: 4px;
}

li:last-child {
  border: 0px;
}

ul.menu li{
  display: inline-block;
  min-width: 120px;
}

ul.menu li a {
  font-size: .95em;
  color: #fff;
  padding: 1em;
  transition: .2s;
  text-decoration: none;
}

ul.menu li a:hover,
ul.menu li a:active {
  color: #ff0000;
  padding: 1em;
  background-color: #3b80d1;
  text-decoration: underline;
}

ul.menu a.active {
  background-color: #3b80d1;
  text-decoration: none;
}